.App {
    display: flex;
    justify-content: center;
    background-color: #111;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 600px;
    height: 600px;
    background: rgb(211, 143, 232);
    background: linear-gradient(120deg, rgba(211, 143, 232, 1) 18%, rgba(145, 0, 255, 1) 45%, rgba(157, 41, 210, 1) 87%);
    margin-top: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-person {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    max-height: 500px;
    overflow-y: scroll;
}

.list-person::-webkit-scrollbar {
    display: none;
}

.person {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
}

.person span.stt {
    width: 20px;
}

.person input,
span.name {
    width: 180px;
}

.person input {
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
}

button.move {
    width: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #111;
    cursor: pointer;
}

button.move:disabled {
    background-color: gray;
}

button.edit,
button.update,
button.delete {
    width: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(238, 207, 69);
    cursor: pointer;
}

button.update {
    background-color: rgb(59, 168, 55);
}

button.delete {
    background-color: red;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.title button {
    width: 100px;
    border: none;
    background-color: rgb(59, 168, 55);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.new {
    width: 80%;
    margin: 20px 0;
}

.new input {
    margin: 0 20px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    height: 30px;
    width: 40%;
}

.new button {
    width: 20%;
    height: 30px;
    border: none;
    background-color: rgb(59, 168, 55);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.new i {
    font-size: 20px;
    height: 20px;
    color: red;
    cursor: pointer;
}